In [1]:
print('learn Python!')

learn Python!

In [3]:
age = 20

print(f"I'm {age} years old.")

I'm 20 years old.

In [4]:
lang = 'Python'

version = '3.8'

print(f"I'm learning {lang} version {version}")

I'm learning Python version 3.8

In [5]:
price = 199.99

print("this cost's", price)

this cost's 199.99

In [6]:
price = 69.99

print(f"This cost's {price}")

This cost's 69.99

In [7]:
price = 34.99

weight = 20

print(f"Price: ${price}. Weight: {weight} lbs.")

Price: $34.99. Weight: 20 lbs.

In [8]:
pi = 3.1415926535

print(f"Pi: {pi:.2f}")

Pi: 3.14

In [10]:
print('-' * 40)
print('VERSION: 1.0.1')
print('-' * 40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [11]:
print('summer', 'time', 'holiday', sep='#')

summer#time#holiday

In [12]:
pi = 3.14
radius = 5
area = pi * radius ** 2
print(f'Area: {area:.1f} in2')

Area: 78.5 in2

In [13]:
pv = 1000
r = 0.03
n = 5
fv = pv * (1 + r) ** n
print(f'The future value of the investment: {fv:.2f} USD')

The future value of the investment: 1159.27 USD

In [14]:
a = 3
b = -4
c = 1
delta = b ** 2 -4 * a * c
print(f"Delta: {delta}")

Delta: 4

In [18]:
filename = 'view.jpg'

print(filename[-3:])

jpg

In [19]:
string = 'PKV-89415-PLN'

code = string[:3] + string[-3:]

print(code)

PKVPLN

In [25]:
string = '1 0 0 1 0 1'

binary = string[::2]

number = int(binary, 2)

print(f'Number found: {number}')

Number found: 37

In [26]:
text = 'Python Course'

print(text[::-1])

esruoC nohtyP

In [28]:
var1 = None
var2 = False
var3 = 'True'

print(type(var1))
print('\n')
print(type(var2))
print('\n')
print(type(var3))

<class 'NoneType'>


<class 'bool'>


<class 'str'>

In [29]:
flag = False

print(isinstance(flag, bool))

True

In [32]:
text = 'python is a popular programming language'

print(text.capitalize())
print("\n")
print(f"Number of occurrences: {text.count('p')}")

Python is a popular programming language


Number of occurrences: 4

In [33]:
code1 = "FVNISJND-XX-2020"
code2 = "FVNISJND-XY-2019"

print(f"code1: {code1.endswith('2020')}")
print("\n")
print(f"code2: {code2.endswith('2019')}")

code1: True


code2: True

In [34]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'

print(f"path1: {path1.startswith('youtube')}")
print("\n")
print(f"path2: {path2.startswith('youtube')}")

path1: True


path2: False

In [36]:
path1 = "https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer"
path2 = "https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer"
path3 = "https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst"

print(f"path1: {path1.find('scientist')}")
print("\n")
print(f"path2: {path2.find('scientist')}")
print("\n")
print(f"path3: {path3.find('scientist')}")

path1: 49


path2: 49


path3: -1

In [42]:
text = ' Google-Colab '
text2 = 'Open,High,Low,Close'
text3 = """Python is a general-purpose language.
Python is popular."""

print(text.upper())
print("\n")
print(text.lower())
print("\n")
print(text.strip())
print("\n")
print(text.replace('-', ' '))
print("\n")
print(text.replace('-', ''))
print("\n")
print(text2.split(','))
print("\n")
print(text3.splitlines())

 GOOGLE-COLAB


 google-colab


Google-Colab


 Google Colab


 GoogleColab


['Open', 'High', 'Low', 'Close']


['Python is a general-purpose language.', 'Python is popular.']

In [43]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'

name = url.split('/')[-1]

name = name.replace('-', ' ')

print(name)

sciezka data scientist machine learning engineer

In [46]:
subjects = {'mathematics', 'biology'}

subjects.add('english')

print(subjects)

{'english', 'biology', 'mathematics'}

In [48]:
A = {2,4,6,8}
B = {4,10}

sym_diff = A.symmetric_difference(B)
print(sym_diff)

is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}

result = is_clicked.intersection(is_bought)

print(result)

{2, 6, 8, 10}
{'9002', '9005'}

In [49]:
day1 = ['3984','9042','4829','2380']
day2 = ['4231','5234','1345','2455']

day1.extend(day2)

print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [61]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

print(capitals)
print('\n')
print(capitals.keys())
print('\n')
print(capitals.values())
print('\n')
print(capitals.items())
print('\n')
print(capitals.get('Austria'))
print('\n')
print(capitals.get('Germany'))
print('\n')
print(stocks['MSFT.US']['Microsoft Corp'])
print('\n')

stocks['MSFT.US']['Microsoft Corp'] = 190
print(stocks['MSFT.US'])

stocks['V.US'] = {'Visa Inc': 185}
print(stocks.values())

tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US', 'CSCO.US', 'CVX.US',
    'DIS.US', 'DOW.US', 'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]

print('\n')
print(dict(enumerate(tickers)))

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}


dict_keys(['USA', 'Germany', 'Austria'])


dict_values(['Washington', 'Berlin', 'Vienna'])


dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])


Vienna


Berlin


184


{'Microsoft Corp': 190}
dict_values([{'Microsoft Corp': 190}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])


{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}

In [62]:
stats = {
    'site': 'e-smartdata.org', 
    'traffic': 100,
    'type': 'organic'
}

del stats['traffic']
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

In [69]:
with open('/Users/poromendro/Desktop/currencies.txt', 'r') as file:
    lines = file.read().splitlines()
    
indexes = [index for index in lines if 'USD' in index]

print(indexes)

['ARSUSD', 'AUDUSD']

In [74]:
import json

stocks = {
    'PLW': ['Playway', 350],
    'BBT': ['Boombit', 22]
}

with open('stocks.json', 'w') as file:
    json.dump(stocks, file, indent = 4)

headers = ['user_id', 'amount']
users = [['001', '1400'], ['004', '1300'], ['007', '900']]

with open('users.csv', 'w') as file:
    file.write(','.join(headers) + '\n')
    for user in users:
        file.write(','.join(user) + '\n')

In [75]:
ticker = ('TEN', 'PLW', 'CDR')
full_name = ('Ten Square Games', 'Playway', 'CD Projekt')

print(list(zip(ticker, full_name)))

[('TEN', 'Ten Square Games'), ('PLW', 'Playway'), ('CDR', 'CD Projekt')]

In [76]:
stocks = ['playway', 'bombit', 'cd projekt']

length = list(map(lambda stock: len(stock), stocks))

print(length)

[7, 6, 10]

In [77]:
stocks = [
    {'indeks': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'indeks': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'indeks': 'sWIG80', 'name': 'BBT', 'price': 22}
]

stocks.sort(key=lambda item: item['price'])

print(stocks)

[{'indeks': 'sWIG80', 'name': 'BBT', 'price': 22}, {'indeks': 'mWIG40', 'name': 'TEN', 'price': 304}, {'indeks': 'mWIG40', 'name': 'PLW', 'price': 309}]

In [79]:
import calendar

print(calendar.calendar(2020))
print('\n')
print(calendar.month(2020, 9))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30



   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [80]:
from datetime import date

date1 = date(2020, 6, 1)
date2 = date(2020, 7, 18)

diff = date2 - date1

print(diff)

47 days, 0:00:00

In [81]:
import re

string = "Python 3.8"

result = re.findall(pattern = r"\d", string = string)

print(result)

['3', '8']

In [82]:
import re

text = "Programming in Python - from A to Z"
result = re.split(pattern = r"\s+", string = text)

print(result)

['Programming', 'in', 'Python', '-', 'from', 'A', 'to', 'Z']

In [83]:
import string

print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [84]:
from collections import Counter

counter = Counter()
items = ['YES','NO','NO','YES','EMPTY','YES','NO']
for item in items:
    counter[item] += 1
print(counter)

Counter({'YES': 3, 'NO': 3, 'EMPTY': 1})

In [85]:
import pickle

ids = ['001', '003', '011']

with open('data.pickle', 'wb') as file:
    pickle.dump(ids, file)

In [87]:
pickle.load('data.pickle')

TypeError: file must have 'read' and 'readline' attributes

In [88]:
import json

stocks = {
    'PLW': 360.0,
    'TEN': 320.0,
    'CDR': 329.0
}

result = json.dumps(stocks, sort_keys=True, indent=4)

print(result)

{
    "CDR": 329.0,
    "PLW": 360.0,
    "TEN": 320.0
}